.about{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}


.about-content-container{
    display: flex;
    margin: auto;
    color: white;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 80%;
}

.register-container{
    display: flex;
    border: white 2px solid;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 46%;
    height: 105%;
}

.tagline{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8%;
    width: 50%;
}

.about-form-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;

    h3{
        color: black
    }
}

.about-image-container{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.media {
    max-width: 800px;
    max-height: 400px;
    box-shadow: 10px 10px 5px grey;
}
